* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #7ba4d3;
}

h1 {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    color: #1a4d89;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 500px;
    border-radius: 10px;
}

.author {
    position: absolute;
    top: 0;
    font-style: italic;
    font-weight: bold;
}

.container {
    margin-top: 50px;
    text-align: center;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #1a4d89;
}

/* button styles, source: https://getcssscan.com/css-buttons-examples */
.btn {
    appearance: none;
    background-color: #376399;
    border: 2px solid #1a4d89;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    will-change: transform;
}

.btn:disabled {
    pointer-events: none;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.meniu{
    position:right;
}